<div class="page-wrap">
  <div class="side-bar">
    <a href="" class="site-title fs-6 lh-tight">ng-lightbox</a>
    <span class="fs-3"><button class="js-main-nav-trigger navigation-list-toggle btn btn-outline" type="button"
                               data-text-toggle="Hide">Menu</button></span>
    <div class="navigation main-nav js-main-nav">
      <nav role="navigation" aria-label="Main navigation">
        <ul class="navigation-list">
          <li class="navigation-list-item active">
            <a href="#getting-started" class="navigation-list-link">Getting Started</a>
            <a href="#basic-lightbox" class="navigation-list-link">Basic Usage</a>
            <a href="#preview-lightbox" class="navigation-list-link">Gallery Preview</a>
            <a href="#button-lightbox" class="navigation-list-link">Programmatic Open</a>
          </li>
        </ul>
      </nav>

    </div>
    <footer role="contentinfo" class="site-footer">
      <p class="text-small text-grey-dk-000 mb-0">This site uses <a
        href="https://github.com/pmarsceill/just-the-docs">Just the Docs</a>, a documentation theme for
        Jekyll.</p>
    </footer>
  </div>
  <div class="main-content-wrap js-main-content" tabindex="0">
    <div class="page-header">
      <div class="main-content">
        <ul class="list-style-none text-small mt-md-1 mb-md-1 pb-4 pb-md-0 js-aux-nav aux-nav">
          <li class="d-inline-block my-0"><a href="https://gitlab.com/etg-public/silmar-ng-lightbox">The
            project on Gitlab</a></li>
        </ul>
      </div>
    </div>
    <div class="main-content">
      <div id="main-content" class="page-content" role="main">
        <h1 class="fs-9">Silmar NgLightbox</h1>
        <p class="fs-6 fw-300">This is a very basic lightbox that we use for our websites. It tries to handle the very
          basic of what an image lightbox should handle.</p>

        <p><a href="#getting-started" class="btn btn-primary fs-5 mb-4 mb-md-0 mr-2">Get started now</a> <a
          href="https://gitlab.com/etg-public/silmar-ng-lightbox" class="btn fs-5 mb-4 mb-md-0">View it on
          Gitlab</a></p>

        <!-- Getting Started -->
        <h2 id="getting-started">Getting started</h2>

        <h3 id="dependencies">Dependencies</h3>

        <p>NgCarousel is built with @angular/cli and depends @angular/core, @angular/common and rxjs.</p>

        <ol>
          <li>To install the package:
            <pre><code class="shell">{{txt['install']}}</code></pre>
          </li>

          <li>Import the module in your AppModule
            <pre><code class="typescript">{{txt['module']}}</code></pre>
          </li>

          <li>Use in your templates
            <pre><code class="html">{{txt['ex1']}}</code></pre>
          </li>

          <li><span class="label label-green">TIP</span> You can safely use this package with
            <code>@angular/universal</code>, the library will simply not run on the server side
          </li>
        </ol>

        <!-- Usage -->
        <h2 id="Usage">Usage</h2>
        <p>You can navigate the lightbox with: </p>
        <ul>
          <li>left/right keys</li>
          <li>navigation chevrons on your screen</li>
          <li>swipe left/right</li>
          <li>gallery of image previews</li>
          <li>ESC key to close the lightbox</li>
        </ul>

        <!-- First example: Basic Usage-->
        <h3 id="basic-lightbox">Basic Usage</h3>
        <p>Simply wrap your siLightboxItem in si-ng-lightbox element.</p>

        <pre><code class="html">{{txt['ex1']}}</code></pre>
        <si-ng-lightbox>
          <img *ngFor="let img of gallery2" src="{{img[1]}}" height="200" [siLightboxItem]="img[0]" class="item"/>
        </si-ng-lightbox>

        <h3 id="preview-lightbox">Lightbox with Previews</h3>
        <p>Use showPreviews to show gallery navigation</p>
        <p>Use previewSrc to pass alternative source for smaller image preview</p>
        <p>Use lightboxTitle to pass caption</p>
        <pre><code class="html">{{txt['ex2']}}</code></pre>
        <si-ng-lightbox [showPreviews]="true">
          <img *ngFor="let img of gallery; let i = index" src="{{img[1]}}" height="100" [previewSrc]="img[1]" [siLightboxItem]="img[0]"
               [lightboxTitle]="'Test title for caption #' + i"
               class="item"/>
        </si-ng-lightbox>

        <h3 id="button-lightbox">Programmatic Open</h3>
        <p>You can open the lightbox from any element and not show any image gallery by using the si-lightbox-item
          component</p>
        <pre><code class="html">{{txt['ex3']}}</code></pre>
        <si-ng-lightbox #light>
          <button (click)="light.open()">Open Lightbox</button>
          <si-lightbox-item *ngFor="let img of gallery2" [siLightboxItem]="img[0]"></si-lightbox-item>
        </si-ng-lightbox>

        <hr>
        <h2 id="about-the-project">About the project</h2>

        <p>@silmar/ng-carousel is developed by the small but fierce :) development team of <a
          href="https://www.expobeds.com">Expo Travel Group</a>.</p>

        <h3 id="license">License</h3>

        <p>This project is distributed under <a
          href="https://gitlab.com/etg-public/silmar-ng-carousel/blob/master/LICENSE">MIT license</a>.</p>
      </div>
    </div>
  </div>
</div>
